.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0
}

@media screen and (max-width:600px) {
    .first-entry {
        min-height: 260px
    }
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.first-entry .entry-header h2 {
    font-size: 34px;
    margin-bottom: 2px
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3
}

.first-entry .entry-footer {
    font-size: 14px
}

.home-info .entry-content {
    -webkit-line-clamp: unset
}

.post-entry {
    min-height: 145px;
    position: relative;
    /* margin-bottom: var(--gap); */
    margin-bottom: 6px;
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    /* text-align: justify; */
    line-height: 1.4;
    transition: transform .1s
}

/* .post-entry:active {
    transform: scale(.96)
} */

.post-entry .post-tags {
    margin-top: 4px;
    margin-bottom: -10px;
    text-align: left;
}

.post-entry .post-tags li:active {
    transform: scale(.96)
}

.tag-entry .entry-cover {
    display: none
}

.entry-header h2 {
    /* margin-top: 2px; */
    margin-bottom: 4px;
    font-size: 16px;
}

.entry-content {
    margin: 1px 0;
    color: var(--secondary);
    font-size: 14px;
    /* text-align: justify; */
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

/* .entry-content p {
    font-size: 14px;
} */

.entry-footer {
    color: var(--content);
    margin-top: 1px;
    font-size: 14px
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary)
}

.entry-isdraft {
    display: inline
}

.entry-cover {
    margin-bottom: var(--gap);
    text-align: center
}

.entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%
}


.post-entry .post-tags li {
    display: inline-block;
    /* margin-inline-end: 3px; */
    /* margin-bottom: 5px */
}

.post-entry .post-tags a,
.share-buttons {
    border: 0px solid var(--tertiary)
}

.post-entry .post-tags a {
    display: block;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    color: var(--secondary);
    font-size: 12px;
    line-height: 25px;
    background: var(--tertiary);
    /* border-radius: 4px */
}

.post-entry .post-tags a:hover {
    background: var(--border)
}

.link-tags li {
    display: inline-block;
    margin-inline-end: 5px;
    /* margin-bottom: 5px */
}

.link-tags a{
    border: 0px solid var(--tertiary)
}

.link-tags a {
    display: block;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    color: var(--secondary);
    font-size: 12px;
    line-height: 25px;
    background: var(--tertiary);
    border-radius: var(--radius);
    /* border-radius: 4px */
}

.link-tags a:hover {
    background: var(--border)
}

@media screen and (max-width:600px) {
  .post-entry .entry-cover {
      text-align: center
  }

  .post-entry .entry-cover img {
      border-radius: var(--radius);
      pointer-events: none;
      width: 100%
  }

}

@media screen and (min-width:600px) {
  .post-entry .entry-cover {
      float: left;
      position: relative;
      margin-right: var(--gap);
      text-align: left;
      width: 180px
  }

  .post-entry .entry-cover img {
      border-radius: var(--radius);
      margin-bottom: var(--gap);
      pointer-events: none;
      width: 100%
  }

}

.post-entry .entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary)
}
