.buttons,
.main .profile {
    display: flex;
    justify-content: left
}

.main .profile {
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    height: 80%;
    text-align: left
}

.profile .profile_inner h1 {
    padding: 12px 0
}

.profile .profile_inner span {
    padding: 10px 0;
    font-size: 18px
}

.provile .avatar {
  position: relative;
}
.profile .avatar img {
    /* display: inline-table; */
    border-radius: 50%;
    /* pointer-events: none */
}

.profile .avatar img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
}
.profile:hover .avatar img.image-hover {
  opacity: 1;
}

.profile_ {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin-left: 260px;
    /* margin: var(--gap) 0 calc(var(--gap) * 2) 0 */
}

.profile_ .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.profile_ .entry-header h2 {
    margin-top: 30px;
    font-size: 34px;
    margin-bottom: 4px;
}

.profile_ .entry-content {
    margin: 1px 0;
    color: var(--secondary);
    font-size: 16px;
    /* text-align: justify; */
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 5 */
}

/* .entry-content p {
    font-size: 14px;
} */

.profile_ .entry-footer {
    color: var(--content);
    margin-top: 1px;
    font-size: 14px
}

@media screen and (max-width:600px) {
  .main .profile {
      display: relative;
      justify-content: center
  }
  .main .profile {
      position: relative;
      left: 0;
      right: 0;
      align-items: center;
      height: 80%;
      text-align: center
  }

  .profile .avatar {
    position: relative;
  }
    .profile .avatar img {
        align-items: center;
        margin-top: -10px;
        margin-bottom: -50px;
        pointer-events: none;
        /* transform: scale(0.9) */
    }
    .profile .avatar img.image-hover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: contain;
      opacity: 0;
      transition: opacity .5s;
    }
    .profile:hover .avatar img.image-hover {
      opacity: 1;
      /*change this to 0 to remove hover event*/
    }
    .profile_ {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        /* min-height: 320px; */
        margin-left: 0px;
        /* margin: var(--gap) 0 calc(var(--gap) * 2) 0 */
    }

    .profile_ .entry-header {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3
    }

    .profile_ .entry-header h2 {
        /* margin-top: 10px; */
        font-size: 34px;
        margin-bottom: 4px;
    }

    .profile_ .entry-content {
        margin: 10px 0;
        color: var(--secondary);
        font-size: 16px;
        text-align: left;
        line-height: 1.6;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        /* -webkit-line-clamp: 5 */
    }

    /* .entry-content p {
        font-size: 14px;
    } */

    .profile_ .entry-footer {
        color: var(--content);
        margin-top: 1px;
        font-size: 14px;
        /* transform: scale(1.1); */
        /* margin-left: 30px; */
        /* margin-bottom: -20px; */
    }
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform .1s
}

.button-inner {
    padding: 0 8px
}

.button:active {
    transform: scale(.96)
}
