<!DOCTYPE html>
<html lang="en" >
<body>
<!-- partial:index.partial.html -->

<h2>💼 Experience</h2><BR>

<div class="container">
  <div class="item">
    <div id="timeline">
      <div>
        <section class="year">
          <h3>2017<BR>-<I>NOW</i></h3>
          <section>
            <h5><B>Ewha Womnas University</b>, Seoul, Korea &nbsp✔️</h5>
            <ul>
              <li>M.S. and Ph.D combined in Computer Science and Engineering</li>
              <li>Advisor: <a href="https://anonymousspeech.com/">Prof. Young J. Kim</a></li>
            </ul>
          </section>
        </section>
        <section class="year">
          <h3>2019<BR>&nbsp</h3>
          <section>
            <h5><B>LAAS-CNRS</b>, Toulouse, France</h5>
            <ul>
              <li>I interned in hpp-loco 🤖🦿 group in <a href="https://gepettoweb.laas.fr/index.php">Gepetto team</a>, under the supervision of <a href="https://stevetonneau.fr/">Steve Tonneau</a> at <a href="https://www.laas.fr/public/">LAAS-CNRS</a>.
                I spent the summer taking part on multi-contact planner for legged robots on uneven terrain, <a href="http://daeunsong.github.io/posts/publications/icra20/">SL1M</a> project. I continued the co-work with the team after comming back to Korea!</li>
            </ul>
          </section>
          <section class="year">
            <h3>2016<BR>&nbsp</h3>
            <section>
              <h5><B>Ewha Womnas University</b>, Seoul, Korea</h5>
              <ul>
                <li>I have lead the team for the graduation project, <a href="http://daeunsong.github.io/posts/publications/icra18/">"SSK, the drawing robot"</a>. 🖌️🤖
                   We have done two demos at the expo and awarded for being recognized for excellence. We were the finalist for <a href="https://daeunsong.github.io/assets/award/H04.pdf">Ewha Engineering Capstone Design Contest</a> 🏆 !
                 </li>
                <li>I interned in <a href="http://graphics.ewha.ac.kr">Computer Graphics Lab</a> for a year. While working on my graduation project, I also took part in the
                  <a href="">"Human locomotion physics-based simulation in altered gravity"</a> 🪐🦿 project.
                </li>
              </ul>
            </section>
        <section class="year">
          <h3>2013<BR>-2017</h3>
          <section>
            <h5><B>Ewha Womnas University</b>, Seoul, Korea</h5>
            <ul>
              <li>B.S. in Computer Science and Engineering</li>
            </ul>
          </section>
      </div>
    </div>
  </div>
</div>
<BR>
<!-- <h2>🎓 Education</h2><BR>

<div class="container">
  <div class="item">
    <div id="timeline">
      <div>
        <section class="year">
          <h3>2017<BR>-<I>NOW</i></h3>
          <section>
            <h5><B>Ewha Womnas University</b>, Seoul, Korea ✔️</h5>
            <ul>
              <li>M.S. and Ph.D combined in Computer Science and Engineering</li>
              <li>Advisor: <a href="https://anonymousspeech.com/">Prof. Young J. Kim</a></li>
            </ul>
          </section>
        </section>
        <section class="year">
          <h3>2013<BR>-2017</h3>
          <section>
            <h5><B>Ewha Womnas University</b>, Seoul, Korea</h5>
            <ul>
              <li>B.S. in Computer Science and Engineering</li>
            </ul>
          </section>
      </div>
    </div>
  </div>
</div>
<BR>
<h2>🏢 Research Experience</h2><BR>

  <div class="container">
    <div class="item">
      <div id="timeline">
        <div>
          <section class="year">
            <h3>2013<BR>-2017</h3>
            <section>
              <h5><B>Ewha Womnas University</b>, Seoul, Korea</h5>
              <ul>
                <li>Satoshi Nakamoto began working on the Bitcoin concept.</li>
              </ul>
            </section>
          </section>
          <section class="year">
            <h3>2008</h3>
            <section>
              <h5><B>Ewha Womnas University</b>, Seoul, Korea</h5>
              <ul>
                <li>Neal Kin, Vladimir Oksman, and Charles Bry file an application for an encryption patent application.</li>
                <li>Bitcoin.org was registered at <a href="https://anonymousspeech.com/">anonymousspeech.com</a>.</li>
              </ul>
            </section>
            <section>
              <h5>October</h5>
              <ul>
                <li>Nakamoto describes the Bitcoin currency and solves the problem of double spending.</li>
              </ul>
            </section>
          </section>

        </div>
      </div>
    </div>
  </div> -->
</body>
</html>
